body
{
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	padding:5px;
}

html
{
	background-image: url("thumb-1920-733864.png");
	background-repeat: none;
	background-size: cover;
	font-size: 14px;
}

.window
{
	padding: 5px;
	background-color: rgba(255, 65, 86, 0.25);
	width: 600px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	backdrop-filter: blur(30px);
}

.right
{
	margin-left: auto;
}

.window-title
{
	opacity: 1;
	padding: 2px;
}

.content
{
	background-color: #FAFAFA;
	padding: 5px;
	border-radius: 5px;
}

.center
{
	text-align: center;
}
